@media screen and (min-width: 485px) and (max-width: 769px) {
  .box {
    width: 100%;
  }
  .icon-box{
    flex-direction: column;
    margin-top: 10px;
  }

  .icon-box > div{
    margin-bottom: 10px;
  }

}

@media screen and (max-width: 484px) {
  .box {
    width: 100%;
  }
  .icon-box{
    flex-direction: column;
  }
  form{
    display: none;
  }
}

