@media screen and (min-width: 770px) and (max-width: 1280px) {
  .box {
    width: 45%;
    margin: 10px;
  }
  main {
    margin: 0px 20px;
  }
  #quote {
    width: 60%;
    margin: auto;
  }

  .wrap {
    width: 80%;
    margin: auto;
  }
  .wrap > iframe {
    width: 100%;
    margin: 20px 0;
  }

  .nine_squre {
    width: 94%;
  }
}
